<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>title</title>
<link rel="stylesheet" href="/s/style.css">
</head>
<body>
<nav>
<ul>
<li><a href="/">New</a></li>
</ul>
</nav>
<form action="/" method=post enctype="multipart/form-data">
    <textarea name="data" rows="20" cols="80" autofocus required></textarea>
    <br>
    <select name="lang" required>
        <option value="plaintext">plaintext</option>
	{{range .}}
	<option value="{{.}}">{{.}}</option>
	{{end}}
    </select>
    <input type=submit>
</form>
<footer>
    <p>running <a href="https://bitbucket.org/coh/gpaste/">gpaste</a>.</p>
</footer>
</body>
</html>
