<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" href="/s/style.css">
</head>
<body>
<nav>
<ul>
<li><a href="/">New</a></li>
<li><a href="/raw/{{.Id}}">Download</a></li>
</ul>
</nav>
<pre>
<code class="{{.Lang}}">{{.Data}}</code>
</pre>
<footer>
    <p>running <a href="https://bitbucket.org/coh/gpaste/">gpaste</a>.</p>
</footer>
</body>
</html>
