body, textarea {
background-color:#23241f;
color:#d8d8d8;
font-size:11pt;
line-height:133%;
width:75%;
margin:auto;
}

pre {
border:1px solid #080808;
}

nav {
    position:fixed;
    top:0;
    right:12.5%;
    background-color:#23241f;
    border:1px solid #3f3f3f;
    padding:0;
    margin:0;
}

ul, li {
list-style:none;
display:inline-block;
margin:0;
padding:0;
}

a {
text-decoration:underline;
background-color:#23241f;
color:#d8d8d8;
}

a:hover {
color:#23241f;
background-color:#d8d8d8;
}

nav ul li a {
display:inline-block;
font-size:12pt;
padding:2ex 4ex;
}

footer {
    margin-top:3em;
    border-top:1px solid #484848;
    font-size:90%;
    padding:1ex 2ex;
}

footer > a {
    display:inline;
}
